.DS_Store
.ipynb_checkpoints
*/.ipynb_checkpoints/*
*.log
**/.DS_Store
._.DS_Store
**/._.DS_Store
__pycash__/
Data/
week-3/data/
week-2/data/
week-2/ny_taxi_postgres_data/
week-2/pgadmin/
homework/prefect-dezoom/__pycache__/

# Default .gitignore content added by dbt Cloud
target/
dbt_packages/
logs/
# end dbt Cloud content
